h1{
    text-align: center;
    color: white;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}
body{
    background-color: rgb(26, 25, 25);
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    overflow: hidden;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 15px;
}
.navbar a:hover {
    background-color: rgb(207, 34, 34);
}
.navbar li {
    float: right;
}
img {
    border-radius: 15px;
    width: 480px;
    height: 350px;
}
main {
    color: white;
    text-align: right;
    font-weight: bold;
}
.p {
    text-align: right;
}
.p2 {
    text-align: right;
}
.P1 {
    font-family: serif;
    font-weight: bold;
}
